# Replace with your own Spotify client ID and client secret
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Replace with your own database URL
DATABASE_URL=postgresql://<username>:<password>@<host>:<port>/<database_name>